<p>Hello, {{name}}!</p>

<p>Your client, {{clientname}}, {{text}}"<strong>{{title}}</strong>".</p>

<p>Status: "<strong>{{status}}</strong>"<br />Reason: "<strong>{{reason}}"</strong></p>

<p>Link: <a href="http://accountabilitybuddy.biz">accountabilitybuddy.biz</a></p>

<p>Love and Light,</p>

<p>Your Accountability Buddy</p>

